@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../utils/Fonts/inter/Inter-Regular.otf");
}

@font-face {
  font-family: "JejuHallasan";
  src: url("../utils/Fonts/JejuHallasan/jejuhallasan/JejuHallasan-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../utils/Fonts/josefin-sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Kalam";
  src: url("../utils/Fonts/Kalam/Kalam-Regular.ttf");
}

@font-face {
  font-family: "LexendPeta";
  src: url("../utils/Fonts/lexend-peta/LexendPeta-Regular.ttf");
}
